@model WebApplication18.Models.Fiyatlandirma

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fiyatlandirma</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkYeriTipi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkYeriTipi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaatlikFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaatlikFiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GünlükFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GünlükFiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AylıkFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AylıkFiyat)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FiyatlandirmaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
